<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</head>

<body>

</body>

</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
</head>

<body>
    <!-- thêm  -->
    <div class="form_add-thamgia container mb-5" style="display: none; position: pixed; ">
        <form action="/api/thamgias" method="POST">
            <div class="form-group">
                <label for="exampleInputEmail1">maTV</label>
                <input type="name" class="form-control" id="exampleInputEmail1" name="maTV" placeholder="maTV">
                <label for="exampleInputEmail1">maHD</label>
                <input type="name" class="form-control" id="exampleInputEmail1" name="maHD" placeholder="maHD">
                <label for="exampleInputEmail1">ngayGioDangKy</label>
                <input type="date" class="form-control" id="exampleInputEmail1" name="ngayGioDangKy"
                    placeholder="ngayGioDangKy">
                <label for="exampleInputEmail1">diemTruongDoan</label>
                <input type="number" class="form-control" id="exampleInputEmail1" name="diemTruongDoan"
                    placeholder="diemTruongDoan">
                <label for="exampleInputEmail1">diemTieuChi1</label>
                <input type="number" class="form-control" id="exampleInputEmail1" name="diemTieuChi1"
                    placeholder="diemTieuChi1">
                <label for="exampleInputEmail1">diemTieuChi2</label>
                <input type="number" class="form-control" id="exampleInputEmail1" name="diemTieuChi2"
                    placeholder="diemTieuChi2">
                <label for="exampleInputEmail1">diemTieuChi3</label>
                <input type="number" class="form-control" id="exampleInputEmail1" name="diemTieuChi3"
                    placeholder="diemTieuChi3">
                <label for="exampleInputEmail1">nhanXetKhac</label>
                <input type="name" class="form-control" id="exampleInputEmail1" name="nhanXetKhac"
                    placeholder="nhanXetKhac">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="submit" class="btn btn-primary" id="close_form-ThanhVien">close</button>
        </form>
    </div>
    <button class="btn btn-primary my-2" id="add_ThamGia">add</button>
    <% thamgias.forEach(function(thamgia) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">maTV</th>
                    <th scope="col">maHD</th>
                    <th scope="col">ngayGioDangKy</th>
                    <th scope="col">diemTruongDoan</th>
                    <th scope="col">diemTieuChi1</th>
                    <th scope="col">diemTieuChi2</th>
                    <th scope="col">diemTieuChi3</th>
                    <th scope="col">nhanXetKhac</th>
                    <th scope="col">điểm trung bình</th>
                    <th scope="col">update</th>
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <%= thamgia.maTV.hoTen %>
                    </td>
                    <td>
                        <%= thamgia.maHD.tenHD %>
                    </td>
                    <td>
                        <%= thamgia.ngayGioDangKy %>
                    </td>
                    <td>
                        <%= thamgia.diemTruongDoan %>
                    </td>
                    <td>
                        <%= thamgia.diemTieuChi1 %>
                    </td>
                    <td>
                        <%= thamgia.diemTieuChi2 %>
                    </td>
                    <td>
                        <%= thamgia.diemTieuChi3 %>
                    </td>
                    <td></td>
                    <td>
                        <%= (thamgia.diemTruongDoan + thamgia.diemTieuChi1 + thamgia.diemTieuChi2+ thamgia.diemTieuChi3)
                            /4%>
                    </td>
                    <td>
                        <%= thamgia.nhanXetKhac %>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#exampleModal-<%= thamgia._id %> ">
                            Update
                        </button>
                    </td>
                    <td>
                        <form action="/api/HoatDongs/delete" method="POST">
                            <input class="d-none" value="<%= thamgia._id %>" name="id">
                            <button class="del btn btn-danger">delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- sửa  -->
        <div class="form_update-ThamGia container mb-5" style="display: none; position: pixed; ">
            <form action="/api/ThamGias/update/<%= thamgia.id %> " method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">maTV</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" value="<%= thamgia.maTV %>"
                        name="maTV" placeholder="maTV">
                    <label for="exampleInputEmail1">maHD</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" value="<%= thamgia.maHD %>"
                        name="maHD" placeholder="maHD">
                    <label for="exampleInputEmail1">ngayGioDangKy</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" value="<%= thamgia.ngayGioDangKy %>"
                        name="ngayGioDangKy" placeholder="ngayGioDangKy">
                    <label for="exampleInputEmail1">diemTruongDoan</label>
                    <input type="number" class="form-control" id="exampleInputEmail1"
                        value="<%= thamgia.SLToiThieuYC %>" name="diemTruongDoan" placeholder="diemTruongDoan">
                    <label for="exampleInputEmail1">diemTieuChi1</label>
                    <input type="number" class="form-control" id="exampleInputEmail1"
                        value="<%= thamgia.SLToiThieuYC %>" name="diemTieuChi1" placeholder="diemTieuChi1">
                    <label for="exampleInputEmail1">diemTieuChi2</label>
                    <input type="number" class="form-control" id="exampleInputEmail1"
                        value="<%= thamgia.SLToiThieuYC %>" name="diemTieuChi2" placeholder="diemTieuChi2">
                    <label for="exampleInputEmail1">diemTieuChi3</label>
                    <input type="number" class="form-control" id="exampleInputEmail1"
                        value="<%= thamgia.SLToiThieuYC %>" name="diemTieuChi3" placeholder="diemTieuChi3">
                    <label for="exampleInputEmail1">nhanXetKhac</label>
                    <input type="name" class="form-control" id="exampleInputEmail1" value="<%= thamgia.SLToiThieuYC %>"
                        name="nhanXetKhac" placeholder="nhanXetKhac">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-primary" id="close_form-ThanhVien">close</button>
            </form>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal-<%= thamgia._id %>" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <form action="/api/ThamGias/update/<%= thamgia.id  %>" method="POST">
                            <div class="form-group">
                                <label for="exampleInputEmail1">maTV</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.maTV %>" name="maTV" placeholder="ho và tên">
                                <label for="exampleInputEmail1">maHD</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.maHD %>" name="maHD" placeholder="maHD">
                                <label for="exampleInputEmail1">ngayGioDangKy</label>
                                <input type="date" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.ngayGioDangKy %>" name="ngayGioDangKy"
                                    placeholder="ngayGioDangKy">
                                <label for="exampleInputEmail1">diemTruongDoan</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.diemTruongDoan %>" name="diemTruongDoan"
                                    placeholder="diemTruongDoan">
                                <label for="exampleInputEmail1">diemTieuChi1</label>
                                <input type="diemTieuChi1" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.diemTieuChi1 %>" name="diemTieuChi1" placeholder="diemTieuChi1">
                                <label for="exampleInputEmail1">diemTieuChi2</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.diemTieuChi2 %>" name="diemTieuChi2" placeholder="diemTieuChi2">
                                <label for="exampleInputEmail1">diemTieuChi3</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.diemTieuChi3 %>" name="diemTieuChi3" placeholder="diemTieuChi3">
                                <label for="exampleInputEmail1">nhanXetKhac</label>
                                <input type="name" class="form-control" id="exampleInputEmail1"
                                    value="<%= thamgia.nhanXetKhac %>" name="nhanXetKhac" placeholder="nhanXetKhac">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="submit" class="btn btn-primary" id="close_form-HoatDong">close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>

            <script>
                $("#add_ThamGia").click(function (e) {
                    e.preventDefault();
                    $(".form_add-thamgia").toggle();
                })
                $("#update_ThanhVien").click(function (e) {
                    e.preventDefault();
                    $(".form_update-ThanhVien").toggle();
                })

                $("#close_form-ThanhVien").click(function (e) {
                    e.preventDefault();
                    $(".form_add-ThanhVien").hide();
                })
                $("#close_form-ThanhVien").click(function (e) {
                    e.preventDefault();
                    $(".form_update-ThanhVien").hide();
                })
            </script>

</body>

</html>